{% extends 'base.html' %}
{% block head %}

{% endblock %} 

{% block body %}
<div id="Services">
    <div class="HeaderText">Services</div>
    <div id="ServicesPad">
        {% for ser in Services %}
            <a href="/Services/{{ser[0]}}">
                <div class="Products">
                    <div class="ProductImg"><img href="{{ser[2]}}" alt="{{ser[1]}} image"></div>
                    <div class="ProductHeader">{{ser[1]}}</div>
                </div>
            </a>
        {%endfor%}
        
    </div>
    
</div>
{% endblock %}